/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2E4053;
    padding-top: 20px;
}

.sidebar h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    background-color: #2E4053;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.content h2 {
    color:#2E4053;
}
